
@{
    ViewBag.Title = "FormDelete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model PagedList.IPagedList<BookShop.Models.NguoiDung>
@using PagedList.Mvc;
<div class="x_panel">
    <div class="x_title">
        <h2>Xóa thông tin! </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="page-title">
            <div class="title_left">
                <h3>  <small>Chọn người dùng muốn xóa</small></h3>
            </div>
            <div class="title_right">
                <div style="float:right;margin-top:15px">
                    <li role="presentation" class="dropdown">
                        <a id="drop6" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
                            Tìm kiếm theo
                            <span class="caret"></span>
                        </a>
                        <ul id="menu3" class="dropdown-menu animated fadeInDown" role="menu" aria-labelledby="drop6" style="text-align:center">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="@Url.Action("FormDelete", "User", new { choose = 1,searchString=@ViewBag.Search})">Mã</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="@Url.Action("FormDelete", "User", new { choose = 2,searchString=@ViewBag.Search})">Tên</a>
                            </li>
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="@Url.Action("FormDelete", "User", new { choose = 3,searchString=@ViewBag.Search})">Địa chỉ</a>
                            </li>
                        </ul>
                    </li>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search" style="float:right">
                    @using (Html.BeginForm("FormDelete", "User", FormMethod.Get))
                    {
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tìm kiếm..." style="background-color:rgba(200, 200, 200, 0.93)" value="@ViewBag.Search" name="searchString">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Tìm!</button>
                            </span>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2>Danh sách tìm kiếm </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Mã khách hàng</th>
                    <th>Họ tên</th>
                    <th>Ngày sinh</th>
                    <th>Địa chỉ</th>
                    <th>Giới tính</th>
                    <th>Số điện thoại</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var item = Model.ElementAt(i);
                    var index = (ViewBag.page) * 10 - (10 - i) + 1;
                    <tr>
                        <th scope="row">@index</th>
                        <td>@item.MaKH</td>
                        <td>@item.HoTenKH</td>
                        <td>@item.NgaySinh</td>
                        <td>@item.DiaChi</td>
                        <td>@item.GioiTinh</td>
                        <td>@item.SoDienThoai</td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "User", new { id = item.MaKH.TrimEnd() })'">Xóa</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            @Html.PagedListPager(Model, page => Url.Action("FormDelete", new { page, @searchString = @ViewBag.Search, @choose = ViewBag.choose }))
        </div>
    </div>
</div>