
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
@model PagedList.IPagedList<BookShop.Models.Product>
<div class="x_panel">
    <div class="x_title">
        <h2>Danh sách sản phẩm </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Hình ảnh</th>
                    <th>Tác giả</th>
                    <th>Lĩnh vực</th>
                    <th>Nhà xuất bản</th>
                    <th>Số trang</th>
                    <th>Giá gốc</th>
                    <th>Số lượng</th>
                    <th>Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var item = Model.ElementAt(i);
                    var index = (ViewBag.page) * 10 - (10 - i) + 1;
                <tr>
                    <th scope="row">@index</th>
                    <td>@item.MaSP</td>
                    <td>@item.TenSP</td>
                    <td><img src="~/Assets/admin/ckfinder/core/connector/aspx/files/@item.AnhBiaSP" style="width:120px; height:110px"/></td>
                    <td>@item.TacGia</td>
                    <td>@item.MaLinhVuc</td>
                    <td>@item.MaNXB</td>
                    <td>@item.SoTrang</td>
                    <td>@item.GiaGoc</td>
                    <td>@item.SoLuong</td>
                    <td>
                        <li role="presentation" class="dropdown">
                            <a id="drop6" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="true">
                                Chọn tác vụ
                                <span class="caret"></span>
                            </a>
                            <ul id="menu3" class="dropdown-menu animated fadeInDown" role="menu" aria-labelledby="drop6">
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="@Url.Action("Details", "Product", new { id = item.MaSP.TrimEnd()})">Chi tiết</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="@Url.Action("Edit", "Product", new { id = item.MaSP.TrimEnd()})">Sửa</a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="@Url.Action("Delete", "Product", new { id = item.MaSP.TrimEnd()})">Xóa</a>
                                </li>
                            </ul>
                        </li>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>